{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
<form class="card form-card" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
  <label>Email</label>
  <input type="email" name="email" required />

  <label>Senha</label>
  <input type="password" name="password" required minlength="6" />

  <button class="button" type="submit">Entrar</button>
</form>
<div class="small-note">
  <p>Não tem cadastro? <a href="{{ url_for('register') }}">Registrar agora</a>.</p>
</div>
{% endblock %}
